APPCHAIN_CONF='{"db": {"path": "./db/faucet.db"}, "project": {"name": "Ottochain", "logo": "https://raw.githubusercontent.com/octopus-network/oyster/ocb-otto/otto-the-octopus.png", "deployer": "Octopus Network"}, "blockchains": [{"type":"Ethermint", "ids":{"chainId":"9100", "cosmosChainId":"otto_9100-1"}, "name":"otto_9100-1", "endpoint":{"rpc_endpoint":"http://127.0.0.1:26657", "evm_endpoint":"http://127.0.0.1:8545"}, "sender": {"mnemonic": "wise rule method circle general over tool exhibit over group nuclear meat inform rival before short inner bind short enact team dinner swift ritual", "option": {"hdPath": "m/44'/60'/0'/0/0", "prefix":"otto"}}, "tx": {"amount": {"denom": "aotto", "amount": "3000000000000000000"}, "fee": {"amount": [{"denom": "aotto", "amount": "100000"}], "gas": "10000000000000"}}, "limit": {"address": 1, "ip": 1}}]}'
# APPCHAIN_CONF={"db": {"path": ".\/db\/faucet.db"}, "project": {\"name\": \"Ottochain\", \"logo\": \"https://raw.githubusercontent.com/octopus-network/oyster/ocb-otto/otto-the-octopus.png\", \"deployer\": \"Octopus Network\"}, "blockchains": [{"type":"Ethermint", "ids":{\"chainId\":\"9100\", \"cosmosChainId\":\"otto_9100-1\"}, "name":"otto_9100-1", "endpoint":{\"rpc_endpoint\":\"http://127.0.0.1:26657\", \"evm_endpoint\":\"http://127.0.0.1:8545\"}, "sender": {\"mnemonic\": \"wise rule method circle general over tool exhibit over group nuclear meat inform rival before short inner bind short enact team dinner swift ritual\", \"option\": {\"hdPath\": \"m/44'/60'/0'/0/0\", \"prefix\":\"otto\"}}, "tx": {\"amount\": {\"denom\": \"aotto\", \"amount\": \"3000000000000000000\"}, \"fee\": {\"amount\": [{\"denom\": \"aotto\", \"amount\": \"100000\"}], \"gas\": \"10000000000000\"}}, "limit": {\"address\": 1, \"ip\": 1}}]} # Terraform